<head>
  <link rel="stylesheet" href="/styles/projects.css" />
</head>
<body class="homepage">
  <div id="page-wrapper">

    <!-- Header -->
      <div id="header">
          <div class="layer"></div>

        <!-- Inner -->
          <div class="inner">
            <header>
              <h1>Enable local educators to fulfill<br> students’ biggest needs</h1>
            </header>
            <footer>
              <a href="#banner" class="button circled scrolly">Start</a>
            </footer>
          </div>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              {{# each navLinks}}
                <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                  <a href="{{ href }}">{{ label }}</a>
                </li>
              {{/each}}
            </ul>
          </nav>

      </div>

    <!-- Banner -->
      <section id="banner">
        <header>
          <h2>Meet local teachers</h2>
          <p>
            We work with a team of teachers who go above and beyond for students in need
          </p>
        </header>
      </section>

    <!-- Carousel -->
    <div id="projects">
      <section class="carousel">
        {{# each data.posts.results}}
          <article class="4u 11u(mobile)">
            <a href="{{postUrl slug}}" class="image featured"><img src="{{imageUrl}}" alt="" /></a>
            <header>
              <h3><a href="{{postUrl slug}}">{{teacherName}}</a><p><i>{{teacherLocation}}</i></p></h3>
            </header>
            <p>{{coverBrief}}</p>
          </article>
        {{/each}}
      </section>
    </div>
    <!-- Features -->
      <div class="explain-edya wrapper style1">

        <section id="features" class="container special">
          <header>
            <h2>How Edya works</h2>
          </header>
          <div class="row">
            <article class="3u 12u(mobile) special">
              <section class="tree first">
                <span class="icon major fa-eye"></span>
                <header>
                  <h3>Teacher requests a project</h3>
                </header>
                <p>Teacher identifies student needs such as books and healthy lunches</p>
              </section>
            </article>
            <article class="3u 12u(mobile) special">
              <section class="tree">
                <span class="icon major fa-user"></span>
                <header>
                  <h3>Meet a teacher</h3>
                </header>
                <p>Meet a local teacher who is organizing a project for students</p>
              </section>
            </article>
            <article class="3u 12u(mobile) special">
              <section class="tree">
                <span class="icon major fa-gift"></span>
                <header>
                  <h3>Fund a project</h3>
                </header>
                <p>Donate as little as $5 to help fulfill a teacher's project</p>
              </section>
            </article>
            <article class="3u 12u(mobile) special">
              <section class="tree last">
                <span class="icon major fa-calendar-check-o"></span>
                <header>
                  <h3>Get an update</h3>
                </header>
                <p>Receive updates and pictures of the funded project</p>
              </section>
            </article>
          </div>
        </section>

      </div>

    <!-- Main -->
      <div id="reason">
        <div class="layer"></div>
        <!-- Inner -->
          <div class="inner">
            <header>
              <h1>Supporting local educators is the key to improving global education</h1>
            </header>
            <hr>
            <p>Local educators know what’s best for their communities, they are present, and they can get resources to the most remote areas</p>
            <footer>
              <a href="#banner" class="button circled scrolly">Help them grow their impact</a>
            </footer>
          </div>
      </div>
    
    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="12u">

              <!-- Contact -->
                <section class="contact">
                  <header>
                    <h3>Find us on</h3>
                  </header>
                  <ul class="icons">
                    <li><a href="mailto:site@edya.org" class="icon fa-envelope-square"><span class="label">Email</span></a></li>
                    <li><a href="https://twitter.com/edyafund" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/edyafund" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                  </ul>
                </section>

              <!-- Copyright -->
                <div class="copyright">
                  <ul class="menu">
                    <li>&copy; <a href="http://judymou.com">Judy Mou</a> and <a href="https://www.linkedin.com/in/hannahcyang">Hannah Yang</a></li>
                  </ul>
                </div>

            </div>

          </div>
        </div>
      </div>

  </div>

  <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.onvisible.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("e62fe2ef53deba5910532be840adbf1a");</script><!-- end Mixpanel -->
    <script>mixpanel.track('home');</script> 

</body>
